body {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ccc;
}

#app {
  background-color: #ce80b0;
  border: #797373 1px solid;
  padding: 20px;
  border-radius: 8px;
}
input {
  margin: 8px 0;
  padding: 8px;
}
#btn-calcular {
  background-color: #504b50;
  color: #cec6c6;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.resultados {
  background-color: #cec6c6;
  border: #ccc 1px solid;
  padding: 20px;
  border-radius: 8px;
  margin-top: 16px;
}
